body{
    font-family: sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container-fluid{
    display: block;
}

#block-one > card{
    max-width: 50vw;
}

.card-body > a:link{
    color: green;
}

#block-one{
    padding: 0;
}

#block-two{
    background-color: black;
    color: white;
    text-align: center;
    padding: 45px;
}

.header{
    font-size: 20px;
}

.media > img{
    border: 5px solid black;
}

#block-two > p{
    padding: 35px;
    line-height: 120%;
    border: 15px solid white;
    font-size: 32px;
}

span{
    text-transform: uppercase;
}

#block-two > p > a:link{
    color: green;
    text-decoration: overline underline;
}

#block-two > p > a:hover{
    background-color: white;
    color: black;
}

#block-two > p > a:active, .card-body > a:active{
    color: green;
}

#block-two > p > a:visited, .card-body > a:visited{
    color: gray;
}

/*RESOURCES PAGE*/
header, nav, article{
    margin: 15px;
    padding: 15px;
}

header > h1{
    font-size: 50px;
    text-align: center;
}

nav > a{
    color: green;
}

nav > a:hover{
    color: black;
}

article > div > div > div > div> a{
    color: black;
}

article > div > div > div > div > a:hover{
    text-decoration: none;
    color: green;
}


